#header {
    background-color: white; /* Grey background */
    color: black;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    height: 200px;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

  .logo{
    height: 200px;
    width: auto;
  }